<!DOCTYPE html>
<html lang="en">
    <head>
    @Html.Partial("_Meta")
    </head>
<body class="hold-transition skin-blue sidebar-mini">
    <header>
        @Html.Partial("_AdminMenubar")
        @Html.Partial("_AdminNavbar")
    </header>
    <div style="margin-right:250px">

        <main role="main">
            @RenderBody()
        </main>
    </div>
        @*@Html.Partial("_AdminFooter")*@

    @Html.Partial("_Script")

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>