@using Parnas.Domain.DTOs.GraphicCard
@model List<GraphicCardListDto>
@{
    ViewData["Title"] = "کارت گرافیک";
}

<h2> کارت گرافیک</h2>


<div class="box">
    <div class="box-header">
        <h3 class="box-title">لیست کارت گرافیک ها </h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <a asp-area="Admin" asp-controller="GraphicCard" asp-action="AddGraphicCard" type="button" class="btn btn-success btn-lg" style="margin-bottom:10px">افزودن محصول جدید</a>
        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row"><div class="col-sm-6"></div><div class="col-sm-6"></div></div><div class="row">
                <div class="col-sm-12">
                    <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="موتور رندر: activate to sort column descending">نام محصول</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="مرورگر: activate to sort column ascending">برند</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="مرورگر: activate to sort column ascending">قیمت</th>
                                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="سیستم عامل: activate to sort column ascending">عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var graphicCards in Model)
                            {
                                <tr>
                                    <td>@graphicCards.Title</td>
                                    <td>@graphicCards.Brand</td>
                                    <td>@graphicCards.Price</td>
                                    <td>
                                        <a asp-area="Admin" asp-controller="GraphicCard" asp-action="Detail" asp-route-Id="@graphicCards.Id">جزئیات</a>
                                        <a asp-area="Admin" asp-controller="GraphicCard" asp-action="UpdateGraphicCard" asp-route-Id="@graphicCards.Id">ویرایش</a>
                                        <a asp-area="Admin" asp-controller="GraphicCard" asp-action="DeleteGraphicCard" asp-route-Id="@graphicCards.Id">حذف</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div><div class="row"><div class="col-sm-5"></div><div class="col-sm-7"><div class="dataTables_paginate paging_simple_numbers" id="example2_paginate"><ul class="pagination"><li class="paginate_button previous disabled" id="example2_previous"><a href="#" aria-controls="example2" data-dt-idx="0" tabindex="0">Previous</a></li><li class="paginate_button active"><a href="#" aria-controls="example2" data-dt-idx="1" tabindex="0">1</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="2" tabindex="0">2</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="3" tabindex="0">3</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="4" tabindex="0">4</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="5" tabindex="0">5</a></li><li class="paginate_button "><a href="#" aria-controls="example2" data-dt-idx="6" tabindex="0">6</a></li><li class="paginate_button next" id="example2_next"><a href="#" aria-controls="example2" data-dt-idx="7" tabindex="0">Next</a></li></ul></div></div></div>
        </div>
    </div>
    <!-- /.box-body -->
</div>