@{
    ViewData["Title"] = "پارناس";
}


<!DOCTYPE html>
<html lang="fa" dir="rtl">

<body>
    <div class="wrapper">
        <!-------------------------------- Header Section -->
        @Html.Partial("_Header")
        <!-------------------------------- Header Section -->
        <!--------------------- Header Responsive Section -->
        @Html.Partial("_HeaderResponsive")
        <!--------------------- Header Responsive Section -->
        <!---------------------------- Page Loader Section-->
        @Html.Partial("_PageLoader")
        <!---------------------------- Page Loader Section-->
        <!--------------------------------- Main Content -->
        @Html.Partial("_Main")
        <!--------------------------------- Main Content -->
        <!-------------------------- Mobile Footer Section-->
        @Html.Partial("_MobileFooter")
        <!-------------------------- Mobile Footer Section-->
        <!-------------------------------- Footer Section -->
        @*LayoutPage*@
        <!-------------------------------- Footer Section -->
        <!----------------------------- Go To Top Section -->
        @Html.Partial("_GoToTop")
        <!----------------------------- Go To Top Section -->
        <!------------------------------ Cities Map Modal -->
        @Html.Partial("_Cities")
        <!------------------------------ Cities Map Modal -->
    </div>
</body>
</html>